@page "/repos/{UserUrl}"
@rendermode InteractiveServer

<PageTitle>My Repository</PageTitle>

<h1>My Repository</h1>

<div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" @bind="FindInput">
        <label>Repository Name</label>
    </div>
</div>

<div>
    <button id="New" class="btn btn-primary" type="button" @onclick="NewButtonClickAsync">New</button>
    <button class="btn btn-primary" @onclick="ToggleTypeDropdown">Type</button>
    <div id="typeDropdown" style="display: @(showTypeDropdown ? "block" : "none")">
        <button class="btn btn-primary" @onclick="() => FilterRepos(null)">All</button>
        <button class="btn btn-primary" @onclick="() => FilterRepos(true)">Public</button>
        <button class="btn btn-primary" @onclick="() => FilterRepos(false)">Private</button>
    </div>
    <button id="Settings" class="btn btn-primary"
            type="button"
            @onclick="SettingsButtonClickAsync">
        Settings
    </button>
</div>

<div>
    <table class='table'>
        <thead>
            <tr>
                <th>Repository</th>
                <th>Description</th>
                <th>Is Public</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var repo in FilteredRepoList)
            {
                <tr>
                    <td><a href="@repo.UserId/@repo.RepoName">@repo.UserId/@repo.RepoName</a></td>
                    <td>@repo.Description</td>
                    <td>@repo.IsPublic</td>
                </tr>
            }
        </tbody>
    </table>
</div>
